# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
debug
amd64
arm5
i386
data/log/*
data/homepage/dekoch.net/static/
data/config/mesh/mesh
data/config/mesh/network
data/config/mesh/network.key
