# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
debug
__debug_bin
amd64
arm5
arm6
arm7
aarch64
i386

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Project data
data/config/backup/
data/config/gasprice/
data/config/instabackup/
data/config/mesh/mesh
data/config/mesh/network
data/config/mesh/network.key
data/config/meshfilesync/
data/config/monmotion/
data/fileshare/
data/gasprice/
data/gpsnav/
data/homepage/dekoch.net/static/
data/instabackup/
data/log/
data/mediadownloader/
data/meshfilesync/
data/monmotion/
data/paratest/
data/picturex/